<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Enter Otp</title>
</head>
<body>
	<div class="message">
		<h2 style="color: green" th:text="${session.success}"></h2>
		<h2 style="color: red" th:text="${session.failure}"></h2>
		<th:block th:text="${@sessionDataRemover.removeMessage()}"></th:block>
	</div>
	<form action="/submit-otp" method="post">
		Enter Otp:<input type="number" name="otp"> <input
			type="hidden" name="id" th:value="${session.id}">
		<button>Submit</button>
	</form>
	<br>
	<a th:href="'/resend-otp/'+${session.id}"><button>Resend OTP</button></a>
</body>
</html>