<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home-Recruiter</title>
</head>
<body>
	<div class="message">
		<h2 style="color: green" th:text="${session.success}"></h2>
		<h2 style="color: red" th:text="${session.failure}"></h2>
		<th:block th:text="${@sessionDataRemover.removeMessage()}"></th:block>
	</div>
	<h1>Recruiter Home</h1>
	<br>
	<th:block th:if="${!session.portalUser.profileComplete}">
	<a href="/recruiter/complete-profile"><button>Complete Your Profile</button></a>
	</th:block>
	<br>
	<Br>
	<button>Post Job</button>
	<br>
	<Br>
	<button>View Posted Jobs</button>
	<br>
	<Br>
	<a href="/logout"><button>Logout</button></a>
	<br>
	<Br>
</body>
</html>